body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* ↓↓　ここから自分で書いたやつ　↓↓ */
li {
  margin-top: 10px;
}

/*カテゴリーごとに色分け*/
.category {
  border-left-width: 20px;
  /* border: 20px; この書き方だとsolidなども指定する必要がある→bootstrapのデザインが台無しに*/
}

.green {
  border-left-color: green;
  /* 生活 */
}

.orange {
  border-left-color: orange;
  /* 勉強 */
}
.blue {
  border-left-color: blue;
  /* 仕事 */
}
.pink {
  border-left-color: pink;
  /* 趣味 */
}

.deadline {
  border-top: dotted red;
  border-right: dotted red;
  border-bottom: dotted red;
}

/* .row * */