body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* ↓↓　ここから自分で書いたやつ　↓↓ */
.list-group > .row {
  margin-top: 10px;
  /* background-color: lightgreen; */
}
li {
  border-left: 100px red; 
}